 // Обнуление //
*{
	padding: 0;
	margin: 0;
	border: 0;
}
p {
	margin: 0;
}
h1 {
	margin: 0;

}
h2 {
	margin: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;

	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
background: rgba(17, 13, 39, 1);










	overflow-x: hidden;
	margin: 0 auto;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;outline: none;}
button {
	outline: none;
	border: none;
}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;margin: 0;}
/*--------------------*/

/* ___ 1 list ___ */
.developer {
	display: flex;
	flex-wrap: wrap;
}
.developer-menu {
	display: flex;
	width: 100%;
	background: rgba(26, 20, 59, 1);


	height: 65px;
}
.developer-menu__lists {
		display: flex;
	column-gap: 30px;
	justify-content: flex-start;
	align-items: center;
	padding-left: 80px;
}
.developer-menu__list {
	font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #D3D3D4;
cursor: pointer;
}
.developer-menu__list:hover {
	opacity: 0.8;
}
.devoloper-page {
	margin: 70px 40px;
  padding-top: 40px;
	background: rgba(26, 20, 59, 1);


	width: 100vw;
	height: 800px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.developer-info {
	
}
.developer-info__image {
	 height: 350px;
	 width: 340px;
}
.developer-info__my {
	display: flex;
	flex-wrap: wrap;
	max-width: 350px;
	flex-direction: column;
	align-items: flex-start;
}

.developer-info__my-title {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 342px;
	height: 63px;
	 background-color: transparent;
  border-radius: 18px;
 background: url(image/Rectangle95.png);
 background-size: cover;
box-sizing: border-box;
border-radius: 18px;
              font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
color: rgba(240, 240, 240, 1);
}

.developer-info__my-bloks {
	margin-top: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	padding: 28px;
	width: 340px;
	height: 500px;
	 background-color: transparent;
  border-radius: 18px;
  border: 1.4px solid #D70B0B;
box-sizing: border-box;
border-radius: 18px;

}
.developer-info__my-bloks-subtitle {
	font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
color: rgba(240, 240, 240, 1);
}
.developer-info__mu-bloks-image {
	position: absolute;
		display: flex;
	border-radius: 50%;
	 background: url(image/info/Vector.svg);
	 background-position: center bottom;
	background-color: rgba(215, 11, 11, 1);
	width: 50px;
	height: 50px;
	align-self: flex-end;
	right: 45px;
	bottom: 16px;
}
.developer-info__reviews {
	display: flex;
	flex-direction: column;
}
.developer-info__reviews-add {
		display: flex;
	align-items: center;
	justify-content: center;
	width: 340px;
	height: 60px;
	 background-color: transparent;
  border-radius: 18px;
border: 1.4px solid #D70B0B;
box-sizing: border-box;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
color: rgba(240, 240, 240, 1);
}

.review {
	margin-top: 50px;
	box-sizing: border-box;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	height: 650px;

}

.developer-info__review {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	max-width: 310px;
	border-radius: 32px 18px 18px 31px;
	border: 1.4px solid #D70B0B;
box-sizing: border-box;

}

.review__info {
	display: flex;
	
	
}
.review__image {
	margin-bottom: 20px;
	border-radius: 50%;
border: 10px solid #D70B0B;
}
.review__names {
	display: flex;
	flex-direction: column;
	margin-left: 30px;

}
.review__link {
	font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #D3D3D4;
opacity: 0.8;
margin-bottom: 10px;
}
.review__name {
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 18px;
color: #D3D3D4;
max-width: 150px;
overflow-x: hidden;
text-overflow: ellipsis;
}
.review__text {
	white-space: normal;
	font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 18px;
color: rgba(240, 240, 240, 1);
align-self: center;
max-width: 260px;
max-height: 300px;
overflow: hidden;
}

.review__data {
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
color: #D3D3D4;
background-image: url(image/info/data.svg);
background-repeat: no-repeat;
background-position: left center;
padding-left: 20px;
}







/* form */ 
.contacts{
	position: relative;
	margin-left: 40px;
	margin-right: 40px;
	background: #1A143B;
	z-index: 22;
	
}
.test {
	background: url(image/imaged.png);
	background-size: cover;
	width: 100%;
	height: 100%;
	padding-top: 110px;
	padding-left: 80px;
	padding-bottom: 170px;
	
}
.contacts__subtitle {
	font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 52px;
text-align: left;


color: #F0F0F0;
}
.form__names  {
	margin-top: 40px;
	padding-left: 20px;
	margin-bottom: 15px;
	font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
color: rgba(240, 240, 240, 0.8)
}
.contact__forms {
	display: flex;
	flex-direction: column;
	width: 360px;

}
.contact__form {
	display: flex;
	flex-direction: column;
}
.form__name {
	background: inherit;
	border-radius: 18px;
	padding-left: 25px;
	height: 60px;
	border:none;
	box-shadow: 0 0 1px 1px rgba(143, 0, 255, 1),
              0 0 2px 2px rgba(255, 0, 229, 1);
     color: rgba(240, 240, 240, 1);
 font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
}
.form__contact {
	display: flex;
}
.contact__form-text {
	margin-left: 65px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.form__text {
	width: 360px;
	height: 320px;
	box-shadow: 0 0 1px 1px rgba(143, 0, 255, 1),
              0 0 2px 2px rgba(255, 0, 229, 1);
              color: rgba(240, 240, 240, 1);
 padding-left: 25px;
 padding-top: 25px;
 font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
resize: none;

}
.form__logo {
	background: #F60E99;
	border-radius: 50%;
	position: absolute;
	background-image: url(image/Vector.svg);
	background-position: center;
	width: 48px;
	height: 48px;
	right: 25px;
	bottom: 25px;
background-repeat: no-repeat;
}
.contact__image {
	position: absolute;
	width: 1280px;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  transition-delay: 3600s;
}










/* footer */
.footer {
	margin-top: 30px;
	background: #1A143B;
	width: 100%;
	height: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__title {
	font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 52px;
text-align: center;
margin-left: 350px;
color: #F0F0F0;
}
.footer__logo {
	display: flex;
	margin-right: 140px;
}
.footer__logo-link {
	margin-right: 30px;
}
.footer__logo-link:hover {
	opacity: 0.5;
}
.footer__image {
}
.footer__author {
	align-self: flex-end;
	margin-bottom: 20px;
	color: #F0F0F0;
	margin-left: 30px;
	opacity: 0.8;
		font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
}









/*. forma review */ 



.contact__close {
	display: flex;
	position: relative;
}
.close {
	background: #F60E99;
	border-radius: 50%;
	position: absolute;
	background-image: url(image/reviers/Vector-2.png);
	background-position: center;
	width: 48px;
	height: 48px;
	
background-repeat: no-repeat;
}
.close:hover {
	opacity: 0.7;
}

.some-space {
	margin-left: 70px;
}
.image__rever {
	background-image: url(image/reviers/slep.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: 30%;
	right: 250px;
	width: 218px;
	height: 200px;
}
.image__rever-2 {
		background-image: url(image/reviers/Vector.svg);
	background-repeat: no-repeat;
	position: absolute;
		width: 140px;
	height: 130px;
	top: 70%;
	right: 110px;
}

.rewivers {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	padding-top: 100px;
	height: 100%;
	padding-left: 100px;

	background: rgba(46, 0, 82, 0.9);
	z-index: 99;

}

.none {
	display: none;
}

/* mu edections */ 








.my-skill {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: rgba(26, 20, 59, 1);
	justify-content: flex-start;
	
}
.my-skill__title {
	margin-top: 30px;
	font-size: calc(24px + 36 * ((100vw - 320px) / (1920 - 320)));
	background: linear-gradient(90deg, #8F00FF 0%, #FF00E5 100%);
	-webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */


}
.my-skill__city {
	margin-top: 40px;
	font-family: Rubik;
font-style: normal;
font-weight: normal;
color: #FFFFFF;

	opacity: 0.6;
	font-size: calc(14px + 14 * ((100vw - 320px) / (1920 - 320)));
	width: 50%;
	text-align: center;
}
.my-skill__title-span {



}


/* ____ Cards ____ */
.skill-card {
  padding: 20px;
  width: 15em;
  background: rgba(26, 20, 59, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.skill-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill-card:hover .skill-card__header {
  height: 40px;
}
.skill-card:hover .skill-card__header .skill-card__icon {
  transform: translateX(-50%) translateY(-50%) scale(3);
}
.skill-card:hover .skill-card__body {
  height: 170px;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li {
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  transition-duration: 0.5s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(1) {
  transition-delay: 0.25s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(2) {
  transition-delay: 0.5s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(3) {
  transition-delay: 0.75s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(4) {
  transition-delay: 1s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(5) {
  transition-delay: 1.25s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(6) {
  transition-delay: 1.5s;
}
.skill-card .skill-card__header {
  position: relative;
 
 background: rgba(26, 20, 59, 0.8);


  height: 170px;
  margin: -20px -20px 20px -20px;
  transition: height 0.5s;
  overflow: hidden;
}
.skill-card .skill-card__header .skill-card__icon {
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 128px;
  height: 128px;
  transition: transform 0.5s;
}
.skill-card .skill-card__body {
  height: 40px;
  transition: height 0.5s;
  overflow: hidden;
}
.skill-card .skill-card__body .skill-card__title {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
}
.skill-card .skill-card__body .skill-card__duration {
  color: #9E9E9E;
  font-style: italic;
}
.skill-card .skill-card__body .skill-card__knowledge {
  margin-top: 10px;
  font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
/* or 112% */

color: #FFFFFF;

  padding-inline-start:0;
}
.skill-card .skill-card__body .skill-card__knowledge li {
  margin-top: 5px;
  transition-duration: 0;
  transition-delay: 0.5s;
  transform: translateX(-100%);
}





.container {
	position: relative;
	width: 60%;


  margin-top: 100px;
 
  -webkit-perspective: 2500px;
  
  

}


.carousel {
  position: relative;
  height: 100px;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(-500px);
  -webkit-animation: turn 16s linear infinite;
  -webkit-animation-play-state: run;
}
.carousel:hover {
  -webkit-animation-play-state: paused;
}
.carousel .panel {
  position: absolute;
  height: 240px;
  width: 200px;
  top: 50%;
  margin-top: -50px;
  left: 12px;
  border-radius: 5px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
  text-transform: uppercase;
}
.carousel .panel .shadow {
  margin-top: 20%;
  color: Black;
  text-shadow: 1px 1px white, 2px 2px white, 3px 3px white;
  -webkit-animation: text 3s ease-in-out infinite alternate;
}
.carousel .panel .shadow:hover {
  position: relative;
  top: -3px;
  left: -3px;
  text-shadow: 1px 1px white, 2px 2px white, 3px 3px white, 4px 4px white, 5px 5px white, 6px 6px white;
}

#panel-1 {
  -webkit-transform: rotateY(0deg) translateZ(400px);
  background-image: -webkit-linear-gradient(top left, #f9dec9, #f9dec9);
  box-shadow: inset 5px 5px 10px #f9dec9, inset -5px -5px 10px #f9dec9;
}

#panel-2 {
  -webkit-transform: rotateY(45deg) translateZ(400px);
  background-image: -webkit-linear-gradient(top left, #99b2dd, #99b2dd);
  box-shadow: inset 5px 5px 10px #99b2dd, inset -5px -5px 10px #99b2dd;
}

#panel-3 {
  -webkit-transform: rotateY(90deg) translateZ(400px);
  background-image: -webkit-linear-gradient(top left, #e9afa3, #e9afa3);
  box-shadow: inset 5px 5px 10px #e9afa3, inset -5px -5px 10px #e9afa3;
}

#panel-4 {
  -webkit-transform: rotateY(135deg) translateZ(400px);
  background-image: -webkit-linear-gradient(top left, #685044, #685044);
  box-shadow: inset 5px 5px 10px #685044, inset -5px -5px 10px #685044;
}

#panel-5 {
  -webkit-transform: rotateY(180deg) translateZ(400px);
  background-image: -webkit-linear-gradient(top left, #59c3c3, #59c3c3);
  box-shadow: inset 5px 5px 10px #59c3c3, inset -5px -5px 10px #59c3c3;
}

#panel-6 {
  -webkit-transform: rotateY(225deg) translateZ(400px);
  background-image: -webkit-linear-gradient(top left, #84a98c, #84a98c);
  box-shadow: inset 5px 5px 10px #84a98c, inset -5px -5px 10px #84a98c;
}

#panel-7 {
  -webkit-transform: rotateY(270deg) translateZ(400px);
  background-image: -webkit-linear-gradient(top left, #cad2c5, #cad2c5);
  box-shadow: inset 5px 5px 10px #cad2c5, inset -5px -5px 10px #cad2c5;
}

#panel-8 {
  -webkit-transform: rotateY(315deg) translateZ(400px);
  background-image: -webkit-linear-gradient(top left, #ebebeb, #ebebeb);
  box-shadow: inset 5px 5px 10px #ebebeb, inset -5px -5px 10px #ebebeb;
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(360deg);
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
  }
}
@-webkit-keyframes text {
  0% {
    -webkit-transform: rotateZ(-10deg);
  }
  100% {
    -webkit-transform: rotateZ(10deg);
  }
}



.none {
	display: none;
}
.open {
	display: block;
}

